<nav class="navbar">
    <div class="left-buttons">
        <button type="button" class="btn btn-primary" onclick="navigateToBooks()">Books</button>
      <button type="button" class="btn btn-primary" onclick="navigateToGenres()">Genres</button>
      <button type="button" class="btn btn-primary" onclick="navigateToAuthors()">author</button>
      <button type="button" class="btn btn-primary" onclick="navigateToOrders()">orders</button>

    </div>
    <div class="nav-buttons">
      <!-- Your login button goes here -->
      <button class="login-button" onclick="navigateToLogout()">logout</button>
    </div>
    <script>
        function navigateToGenres() {
            window.location.href = "/genre/getAllGenresManager";
        }
        function navigateToBooks() {
            window.location.href = "/book/booksManager";
        }
        function navigateToLogout() {
            window.location.href = "/";
        }
        function navigateToAuthors() {
            window.location.href = "/book/books";
        }
        function navigateToOrders() {
            window.location.href = "/client/getOrder";
        }
    </script>
  </nav>  